[submodule "src/ext/spdlog"]
	path = src/ext/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/ext/fmt"]
	path = src/ext/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/ext/xxHash"]
	path = src/ext/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "src/ext/pybind11"]
	path = src/ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "src/ext/SDL"]
	path = src/ext/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "src/ext/SPIRV-Cross"]
	path = src/ext/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
